*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global css */
.container{
    width: 1212px;
    margin: auto;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* image slider */
.sliding-image{
    background-color: #FEEAE9;
}
